<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Fixed Footer
            <small>fixed footer option</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">
        
    </div>
    <!-- END PAGE TOOLBAR -->
</div>

<div class="note note-info">
    <p> To set fixed footer layout just apply <code>page-footer-fixed</code> class to the body element. </p>
</div>